@using AspClient.Models
@model AspClient.Models.SearchResults

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Fake IMDb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Bootstrap/css/sticky-footer.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrap">
        <!-- Begin page content -->
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-right" role="form" action="/Search/Search" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" id="SearchString" name="SearchString" placeholder="Enter Search word...">
                    </div>
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>Search</button>
                </form>
            </div>
        </nav>
        <div class="container">


            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>

            <div class="list-group">
                @if (Model != null)
                {
                    if (Model.MovieResults != null)
                    {
                        foreach (KeyValuePair<int, MovieResult> kvp in Model.MovieResults)
                        {
                    <a href="@kvp.Value.Url" class="list-group-item" >
                        <h4 class="list-group-item-heading">
                            <span class="glyphicon glyphicon-film"></span>@kvp.Value.Title
                        </h4>
                        <p class="list-group-item-text">... If we had more data, we would put it here</p>
                    </a>
                        }
                    }
                    Html.Raw("</div><div class=\"list-group\">");
                    if (Model.PersonResults != null)
                    {
                        foreach (KeyValuePair<int, PersonResult> kvp in Model.PersonResults)
                        {
                    <a href="@kvp.Value.Url" class="list-group-item" >
                        <h4 class="list-group-item-heading">
                            <span class="glyphicon glyphicon-user"></span>@kvp.Value.Name
                        </h4>
                        <p class="list-group-item-text">... If we had more data, we would put it here</p>
                    </a>
                        }
                    }
                }
                else
                {
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">No results found</h4>
                    </a>
                    
                }
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
