@using System.Activities.Expressions
@using MvcApplication2.Controllers
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <table>
            <tr>
                <td><img src="~/Content/images/fimdb.jpg" /></td>
                <td>
                    <!--<form action="">
                            <input type="text" id="searchData" />
                            <button></button>
                        </form>-->

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    LOL FRAMEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
                </td>
            </tr>
        </table>
    </body>
</html>